<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PWPush</title>
</head>
<body>
    <div id="app">
        <h1>PWPush</h1>
        <router-view></router-view>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.js"></script>

    <script type="text/html" id="generate-tpl">
        <div class="generate-form">
            <div v-if="!link">
                <label for="plaintext">
                    <input type="text" name="plaintext" id="plaintext" v-model="plaintext">
                </label><br>
                <input type="submit" value="Generate link" @click.prevent="generateLink">
            </div>

            <div v-if="link">
                <p>Your link is:</p>
                <p><a :href="link">{{ link }}</a></p>
            </div>
        </div>
    </script>

    <script type="text/html" id="show-tpl">
        <div>
            <div v-if="successful && plaintext">
                <p>Your password is: </p>
                <a href="#">{{ plaintext }}</a>
            </div>
            <div v-if="!successful && plaintext">
                <p>{{ plaintext }}</p>
            </div>
            <div v-if="!plaintext">
                <p>Loading...</p>
            </div>
            <p>
                <router-link to="/">Generate your own</router-link>
            </p>
        </div>
    </script>

    <script>
        Vue.use(VueRouter);

        const GenerateLink = Vue.extend({
            template: "#generate-tpl",
            data() {
                return {
                    plaintext: null,
                    ciphertext: null
                };
            },
            computed: {
                link() {
                    if (!this.ciphertext) {
                        return null;
                    }

                    return `${window.location.protocol}//${window.location.host}/#/link/${this.ciphertext}`;
                }
            },
            methods: {
                generateLink() {
                    fetch('/api/encrypt', {
                        method: "POST",
                        body: JSON.stringify({
                            plaintext: this.plaintext
                        })
                    })
                        .then(res => {
                            if (res.status !== 200) {
                                if (res.status === 400) {
                                    alert("invalid plaintext");
                                } else {
                                    alert("failed to generate link")
                                }
                            } else {
                                return res.json();
                            }
                        })
                        .then(res => {
                            if (res) {
                                this.plaintext = null;
                                this.ciphertext = res.ciphertext;
                            }
                        });
                }
            }
        });

        const ShowLink = Vue.extend({
            template: "#show-tpl",
            data() {
                return {
                    plaintext: null,
                    successful: false
                };
            },
            mounted() {
                const ciphertext = this.$route.params.link;
                if (!ciphertext) {
                    this.plaintext = "Invalid link";
                    return;
                }

                fetch(`/api/link/${ciphertext}`)
                    .then(res => {
                        if (res.status === 403) {
                            this.plaintext = "Link expired";
                        } else if (res.status === 200) {
                            return res.json();
                        } else {
                            this.plaintext = "Failed to get password"
                        }
                    })
                    .then(res => {
                        if (res) {
                            this.successful = true;
                            this.plaintext = res.plaintext;
                        }
                    });
            }
        });

        const router = new VueRouter({
            routes: [
                {path: "/", component: GenerateLink},
                {path: "/link/:link", component: ShowLink}
            ]
        });


        const app = new Vue({
            router: router
        }).$mount('#app');
    </script>
</body>
</html>